.error {
    color: red;
    border: 1px solid red;
    padding: 2px;
}

.btn{
    border-radius: 5px;
    padding: 3px;
    color: #dedede;
}

.delete-btn {
    background-color: red;
}

.search-btn {
    background-color: green;
}

.next-btn {
    background-color: blue;
}
