<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>
  <body>
    <div id="app">
      <div class="error" v-if="error !== null">{{ error }}</div>
      <input class="search" type="text" v-model="username">
      <button class="btn search-btn" @click="search(username)" :disabled="username === null">Search</button>
      <button class="btn search-btn" @click="clear()" v-if="showClear">Clear</button>
      <button class="btn next-btn" @click="prevPage()" v-if="showPrevPage">Prev Page</button>
      <button class="btn next-btn" @click="nextPage()" v-if="showNextPage">Next Page</button>
      <persona :persona="persona" v-for="persona in personas" :key="persona.username"></persona>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/index.js"></script>
  </body>
</html>
